repo_url: https://github.com/SBD1/2024.1-Ben10
repo_name: 2024.1-Ben10

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

site_name: Ben 10
nav:
    - Início: "index.md"
    - Apresentações: 
        - Apresentação 1: "apresentacao/apresentacao1.md"
        - Apresentação 2: "apresentacao/apresentacao2.md"
        - Apresentação 3: "apresentacao/apresentacao3.md"
        - Apresentação Final: "apresentacao/apresentacaoFinal.md"
    - Modelagem:
        - Modelo Entidade Relacionamento: "modulo1/MER.md"
        - Diagrama Entidade Relacionamento: "modulo1/DER.md"
        - Modelo Relacional: "modulo1/MR.md"
        - Dicionário de Dados: "modulo1/DD.md"

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: 'green'
      accent: 'light green'
      toggle:
        icon: material/brightness-7
        name: Mudar para o modo escuro

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Mudar para a preferência do sistema

  language: pt-BR
  #favicon: assets/arquivo.png
  #logo: assets/arquivo.png

extra_css:
  - assets/extra.css

extra:
  version:
    provider: mike