[data-md-color-scheme="claro"] {
  --md-primary-fg-color: rgb(0, 0, 0) !important; /* Verde claro */
  --md-accent-fg-color: rgb(7, 8, 6); /* Verde claro */
  --md-default-bg-color: rgba(230, 255, 230, 1); /* Fundo verde muito claro */
  --md-code-bg-color: rgb(255, 255, 255); /* Fundo branco para blocos de c贸digo */
  --md-code-fg-color: rgb(0, 0, 0); /* Texto preto para c贸digo */
  --md-typeset-a-color: rgba(102, 255, 0, 1); /* Verde claro para links */
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color: rgb(54, 139, 1); /* Verde claro */
  --md-accent-fg-color: rgba(102, 255, 0, 1) !important; /* Verde claro */
  --md-default-bg-color: #000000; /* Fundo preto */
  --md-typeset-a-color: rgba(102, 255, 0, 1) !important; /* Verde claro para links */
  --md-code-bg-color: rgb(0, 0, 0); /* Fundo preto para blocos de c贸digo */
  --md-code-fg-color: rgb(255, 255, 255); /* Texto branco para c贸digo */
  --md-typeset-table-color: rgba(255, 255, 255, 0.211); /* Cores das tabelas */
  --md-typeset-table-color--light: rgba(128, 128, 128, 0.157); /* Cores das tabelas claras */
}

[data-md-color-scheme="claro"] img[src$="#only-dark"],
[data-md-color-scheme="claro"] img[src$="#gh-dark-mode-only"] {
  display: none;
}

[data-md-color-scheme="slate"] img[src$="#only-light"],
[data-md-color-scheme="slate"] img[src$="#gh-light-mode-only"] {
  display: none;
}
